<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.smk.publik.makassar">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".MakassarApplication"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        tools:ignore="LockedOrientationActivity"
        android:theme="@style/Theme.SMKPublikMakassar" >

        <activity
            android:name=".presentation.activities.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:host="smkpublikmakassar.page.link"
                    android:scheme="https"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.activities.account.AccountActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".presentation.activities.AddAnnouncementActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".presentation.activities.TutorialActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".presentation.activities.UmumActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".presentation.activities.RolesActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".presentation.activities.account.ForgotActivity"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>